<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{23,32}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,2},{20,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{22,32}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{21,32}}</string>
                <key>offset</key>
                <string>{1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{23,32}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{23,32}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{23,32}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,2},{23,32}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>img_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{22,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,32}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>212.png</string>
            <key>size</key>
            <string>{244,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b200e57272d2e363e6978d87b2e3c8:a2cd29d402b705fc33467201b23047b5:8d687bfed3b395e18cd5b79df68c8d43$</string>
            <key>textureFileName</key>
            <string>212.png</string>
        </dict>
    </dict>
</plist>
